<div class="d-flex justify-content-center align-items-center h-100 bg-green">
    <div class="container-fluid h-100">
        <div class="row h-100 ">
            <div class="col-12 col-lg-6 ht-100 d-flex align-items-center justify-content-center flex-column container-lft ht-50">
                
                    <figure class="mx-logo m-auto"><img class="w-100" src="../../../../assets/images/logo-cab-green.png" alt="TotalCab" /></figure>
                  
                    <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-container">
                      <div class="circle"></div>
                  </div>
            </div>

            <div class="col-12 col-lg-6 d-flex align-items-center align-self-center ht-50">
                <form class="form login w-50 mx-auto">
                  <h2 class="text-center bold ">Sign in</h2>
                    <div class="form__field">
                        <label for="login__username"><i class="fa fa-user"></i></label>
                        <input id="login__username" type="text" name="username" class="form__input" placeholder="Username" required />
                    </div>

                    <div class="form__field">
                        <label for="login__password"><i class="fa fa-lock"></i></label>
                        <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required />
                    </div>

                    <div class="form__field">
                        <input type="submit" value="Sign In" />
                    </div>
                </form>
            </div>
        </div>
    </div>  
</div>
