<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Cover Jobs</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Jobs</li>
        </ol>
    </div>

    <div class="col-md-4 align-self-center">
        <ul class="nav nav-tabs profile-tab" role="tablist">
            <li class="nav-item"> <a class="nav-link" (click)="selectData()"
                    [ngClass]="{'active': userTab == 'Requested'}" data-toggle="tab" [routerLink]="['/jobs']"
                    href="javascript:void(0)" role="tab">Requested</a>
            </li>
            <li class="nav-item"> <a class="nav-link" (click)="selectData1()"
                [ngClass]="{'active': userTab == 'Ongoing'}" data-toggle="tab" [routerLink]="['/jobs/ongoing']"
                    href="javascript:void(0)" role="tab">Ongoing</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" (click)="selectData2()"
                [ngClass]="{'active': userTab == 'Completed'}" [routerLink]="['/jobs/completed']"
                    href="javascript:void(0)" role="tab">Completed</a>
            </li>
        </ul>
        <!-- <ul role="tablist" class="nav nav-tabs profile-tab">
        <li class="nav-item"><a data-toggle="tab" href="javascript:void(0)"
                role="tab" class="nav-link active" ng-reflect-ng-class="[object Object]">Requested</a></li>
        <li class="nav-item"><a data-toggle="tab" href="javascript:void(0)"
                role="tab" class="nav-link active" ng-reflect-ng-class="[object Object]">Ongoing</a></li>
        <li class="nav-item"><a data-toggle="tab" href="javascript:void(0)"
                    role="tab" class="nav-link active" ng-reflect-ng-class="[object Object]">Completed</a></li>
    </ul> -->
    </div>
    <!-- <div class="col-md-3 align-self-center">
        <h3 class="text-themecolor">Requested Jobs</h3>
    </div>
    <div class="col-md-3 align-self-center">
        <h3 class="text-themecolor">
            <a href="#">Ongoing Jobs</a></h3>
    </div>
    <div class="col-md-3 align-self-center">
        <h3 class="text-themecolor">Completed Jobs</h3>
    </div>
    <div class="col-md-3 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Jobs</li>
        </ol>
    </div> -->
</div>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>