<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="tablesaw table-bordered table-hover table responsivetable" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                <thead>
                    <tr>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Date</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Driver Name</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="1">users Name</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Received From</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Dropped At</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">
                            Distance
                        </th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Payment Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Date">Nov 26, 2020</td>
                        <td data-title="Driver Name">
                            <a [routerLink]="['/drivers/details']">Manjeet Singh</a>
                        </td>
                        <td data-title="users Name">
                            <a [routerLink]="['/users/4/details']">Kiran Sharma</a>
                        </td>
                        <td data-title="Recieved From">Old Mandir, Ludhiana</td>
                        <td data-title="Dropped At">Chandigarh</td>
                        <td data-title="Distance">150KM</td>
                        <td data-title="Payment Status" class="text-primary">Completed</td>
                        <td data-title="Action">
                            <a [routerLink]="['/payment/23fgh/invoice']" class="btn btn-info btn-sm ml-1 mb-1"><i class="fa fa-file-text-o"></i></a>
                            <button type="button" class="btn btn-danger btn-sm ml-1 mb-1"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Date">Nov 25, 2020</td>
                        <td data-title="Driver Name">
                            <a [routerLink]="['/drivers/details']">Rajat</a>
                        </td>
                        <td data-title="users Name">
                            <a [routerLink]="['/users/3/details']">Rajeev</a>
                        </td>
                        <td data-title="Recieved From">Amritsar</td>
                        <td data-title="Dropped At">Shimla</td>
                        <td data-title="Distance">450KM</td>
                        <td data-title="Payment Status" class="text-themecolor">In-Progress</td>
                        <td data-title="Action">
                            <a [routerLink]="['/payment/23fgh/invoice']" class="btn btn-info btn-sm ml-1 mb-1"><i class="fa fa-file-text-o"></i></a>
                            <button type="button" class="btn btn-danger btn-sm ml-1 mb-1"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Date">Nov 24, 2020</td>
                        <td data-title="Driver Name">
                            <a [routerLink]="['/drivers/details']">Sukhdev Singh</a>
                        </td>
                        <td data-title="users Name">
                            <a [routerLink]="['/users/2/details']">Kiran Sharma</a>
                        </td>
                        <td data-title="Recieved From">Old Mandir, Ludhiana</td>
                        <td data-title="Dropped At">Chandigarh</td>
                        <td data-title="Distance">150KM</td>
                        <td data-title="Payment Status" class="text-warning">Pending</td>
                        <td data-title="Action">
                            <a [routerLink]="['/payment/23fgh/invoice']" class="btn btn-info btn-sm ml-1 mb-1"><i class="fa fa-file-text-o"></i></a>
                            <button type="button" class="btn btn-danger btn-sm ml-1 mb-1"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Date">Nov 23, 2020</td>
                        <td data-title="Driver Name">
                            <a [routerLink]="['/drivers/details']">Sukhdev Singh</a>
                        </td>
                        <td data-title="users Name">
                            <a [routerLink]="['/users/1/details']">Kiran Sharma</a>
                        </td>
                        <td data-title="Recieved From">Old Mandir, Ludhiana</td>
                        <td data-title="Dropped At">Chandigarh</td>
                        <td data-title="Distance">150KM</td>
                        <td data-title="Payment Status" class="text-danger">Rejected</td>
                        <td data-title="Action">
                            <a [routerLink]="['/payment/23fgh/invoice']" class="btn btn-info btn-sm ml-1 mb-1"><i class="fa fa-file-text-o"></i></a>
                            <button type="button" class="btn btn-danger btn-sm ml-1 mb-1"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
