<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img"> <img src="../assets/images/users/profile.png" alt="user" />
                <!-- this is blinking heartbit-->
                <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
            </div>
            <!-- User profile text-->
            <div class="profile-text">
                <h5>Markarn Doe</h5>
                <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-settings"></i></a>
                <a href="app-email.html" class="" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                <a href="pages-login.html" class="" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>

                <div class="dropdown-menu animated flipInY">
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                    <!-- text-->
                    <div class="dropdown-divider"></div>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                    <!-- text-->
                    <div class="dropdown-divider"></div>
                    <!-- text-->
                    <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                    <!-- text-->
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li routerLinkActive="active">
                    <a class="waves-effect waves-dark" [routerLink]="['/dashboard']" routerLinkActive="active"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li routerLinkActive="active">
                    <a class="waves-effect waves-dark" [routerLink]="['/maps']" routerLinkActive="active"><i class="mdi mdi-map"></i><span class="hide-menu">Locations</span></a>
                </li>
                <li routerLinkActive="active">
                    <a class="waves-effect waves-dark" [routerLink]="['/drivers']" routerLinkActive="active"><i class="mdi mdi-car"></i><span class="hide-menu">Drivers</span></a>
                </li>
                <li routerLinkActive="active">
                    <a class="waves-effect waves-dark" [routerLink]="['/users']" routerLinkActive="active"><i class="mdi mdi-account-settings"></i><span class="hide-menu">Users</span></a>
                </li>
                <li routerLinkActive="active"> <a class="waves-effect waves-dark" [routerLink]="['/chat']" routerLinkActive="active"><i class="mdi mdi-wechat"></i><span class="hide-menu">Chat</span></a></li>
                <li routerLinkActive="active"> <a class="waves-effect waves-dark" [routerLink]="['/jobs']" routerLinkActive="active"><i class="mdi mdi-car-wash"></i><span class="hide-menu">Jobs</span></a></li>
                <li routerLinkActive="active"> <a class="waves-effect waves-dark" [routerLink]="['/payment']" routerLinkActive="active"><i class="mdi mdi-car-wash"></i><span class="hide-menu">Payment</span></a></li>
                <li routerLinkActive="active"> <a class="waves-effect waves-dark" [routerLink]="['/reports']" routerLinkActive="active"><i class="mdi mdi-file-document-box"></i><span class="hide-menu">Reports</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
