<div class="card card-body printableArea" id="printableArea" #printableArea>
    <div *ngIf="payentDetails?.transactionID; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <h3><b>INVOICE</b> <span class="pull-right">#{{payentDetails?.transactionID}}</span></h3>
        <hr>

        <div id="content" #content>
            <section class="reciept">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panal">
                            <div class="panal-body">
                                <div class="reciept-top">
                                    <div class="reciept-top-left">
                                        <div class="driver-info">
                                            <div class="row align-items-center">
                                                <div class="col-md-12">
                                                    <div class="driver-paymentinfo">
                                                        <label> company name - Total care mobility</label>
                                                    </div>
                                                </div>
                                                <div class="col-5 col-sm-5 col-md-4 col-lg-3">
                                                    <div class="row">
                                                        <div *ngIf="payentDetails?.driverdetails?.imagefile"
                                                            class="col-md-6 col-6">
                                                            <label for="">Profile Picture:</label><br />
                                                            <div class="pic_container">
                                                                <!-- <img class="profile-img"
                                                                    src="../assets/images/users/profile.png" alt="user"> -->
                                                                <img src="{{env}}{{payentDetails?.driverdetails?.imagefile}}"
                                                                    class="profile-img" alt="" />
                                                            </div>
                                                            <br />
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class=" col-7 col-sm-7 col-md-8 col-lg-9">
                                                    <h5>LMW374</h5>
                                                    <label
                                                        class="taxi-modal mb-1">{{payentDetails?.driverdetails?.carType}}</label>
                                                    <div class="driver-info">
                                                        <span
                                                            class="driver-name">{{payentDetails?.driverdetails?.name}}</span>
                                                        <span class="driver-rating ml-2"><i
                                                                class="icon fas fa-star text-green mr-1"></i> 4.5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reciept-top-right">
                                        <div class="driver-paymentinfo">
                                            <label>GST Number</label>
                                            <p class="billgst-number">129121939</p>
                                        </div>
                                        <div class="driver-paymentinfo">
                                            <label>Phone Number</label>
                                            <p class="billgst-number">{{payentDetails?.riderdetails?.phone}}</p>
                                            <p class="billgst-number">03 351 1599 </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="reciept-middle">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="pickpoint">
                                                <span class="pickpoint-label">Pick Up From</span>
                                                <label
                                                    class="d-block pickpoint-area">{{payentDetails?.pickupLocation?.address}}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="droppoint">
                                                <span class="droppoint-label">Drop</span>
                                                <label
                                                    class="d-block droppoint-area">{{payentDetails?.dropLocation?.address}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="recipet-detail">
                                    <table class="table table-borderless" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="50%" class="recipet-detail-label" align="left">Total Distance
                                            </td>
                                            <td width="50%" class="recipet-detail-value" align="right">
                                                {{payentDetails?.distance}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="recipet-detail-label" align="left">Est. Time</td>
                                            <td width="50%" class="recipet-detail-value" align="right">
                                                {{"EstimatedTime"}}</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="recipet-detail-label" align="left">Total Fare</td>
                                            <td width="50%" class="recipet-detail-value" align="right">
                                                $<strong>{{payentDetails?.fare||0}}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="recipet-detail-label" align="left">Tax</td>
                                            <td width="50%" class="recipet-detail-value" align="right">
                                                $<strong>{{payentDetails.tax||0}}</strong>
                                            </td>
                                        </tr>
                                        <tr class="total">
                                            <td width="50%" class="recipet-detail-label" align="left">Total</td>
                                            <td width="50%" class="recipet-detail-value" align="right"><strong
                                                    class="text-green">${{payentDetails.Amount||0}}("price gst
                                                    incl")</strong> </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="recipet-bottom">
                                    <!-- <a href="#" class="btn"><i class="icon mr-1 zmdi zmdi-print text-green"></i> Print
                                        Recipt</a>
                                    <a class="btn"><i class="icon mr-1 zmdi zmdi-download text-green"></i> Download
                                        Recipt</a> -->
                                    <button id="print" (click)="printInvoice('printableArea')"
                                        class="btn btn-default btn-outline" type="button">
                                        <span><i class="fa fa-print"></i>
                                            Download</span>
                                    </button>
                                    <button id="print" (click)="sendInvoice()" class="btn btn-default btn-outline"
                                        type="button">
                                        <span><i class="fa fa-email"></i>
                                            Send Invoice To mail</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </ng-template>
    <ng-template #elseBlock>it's Loading ...! please wait</ng-template>
</div>