<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
    <div>
        <button
            class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i
                class="ti-settings text-white"></i></button>
    </div>
</div>
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->

    <!-- Row -->
    <div class="row">
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="card-body">
                    <agm-map [latitude]="latitude" [longitude]="longitude"  >
                        <!-- <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker> -->
                        
                              <!-- <agm-marker *ngFor="let  d of driversdata" [iconUrl]="{ url: ('../assets/images/cab.jpg')}"    [latitude]="d.lat" [longitude]="d.lang"  >
                                <agm-info-window  [disableAutoPan]="false">
                    
                                  <div>
                                      <a  class="btn btn-attention pull-right">
                                     <br>   licencenumber:{{d.licencenumber}}</a> 
                                   </div>
                      
                              </agm-info-window> 
                        
                              </agm-marker> -->
                            <!-- <agm-direction 
                            [renderOptions]="renderOptions" 
                            [markerOptions]="markerOptions"
                            [origin]="start" 
                            [destination]="end"
                          >
                        </agm-direction> -->
                      </agm-map>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-5">
            <!-- Column -->

            <!-- Column -->
            <div class="card card-default">
                <div class="card-header">
                    <h4 class="mb-0">Fair Calculator</h4>
                </div>
                <div class="card-body  clearfix form-material">
                    <div class="form-group">
                        <label>Start address</label>
                        <input type="text" class="form-control" placeholder="Where do you want to start?" />
                    </div>
                    <div class="form-group">
                        <label>Destination address</label>
                        <input type="text" class="form-control" placeholder="Where you want to go?" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary">Calculate Now</button>
                    </div>
                </div>
            </div>
            <!-- Column -->

        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-12 text-right">
            <form [formGroup]='filterForm' (change)='handleSelect()'>
                <div class="form-row">
                    <div class="col-12 text-right">
                        <select class="custom-select w-auto" formControlName="type">
                            <option value='' selected>select</option>
                            <option value='week'>Week</option>
                            <option value='month'>Month</option>
                            <option value='year'>Year</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-lg-6 col-xlg-6">
            <div class="card card-inverse card-success">
                <div class="box bg-success text-center">
                    <h1 class="font-light text-white">{{totalVehicles}}
                    </h1>
                    <h6 class="text-white">Total Vehicles</h6>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xlg-6">
            <div class="card card-inverse card-denger">
                <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">{{freeVehicles}}
                    </h1>
                    <h6 class="text-white">Free Vehicles</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <div class="row">
        <!-- Column -->
        <div *ngFor="let item of userByType" class="col-md-6 col-lg-2 col-xlg-2">
            <div class="card card-inverse card-info">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white">{{item?.totalUsers}} <h6>users</h6>
                    </h1>
                    <h6 *ngIf="item?.month" class="text-white">{{months[item?.month-1]}}, {{item?.year}}
                    </h6>
                    <h6 *ngIf="item?.week" class="text-white">{{item?.week}} week of {{item?.year}}</h6>
                    <h6 *ngIf="!item?.week && !item?.month" class="text-white">In {{item?.year}}
                    </h6>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <div class="card card-default">
        <div class="card-header">
            <!-- <h4 class="card-title mb-0">Assign Jobs</h4> -->
        </div>
        <div class="card-body">
            <tabset>
                <tab heading="All Jobs" id="tab1">
                    <div class="table-responsive">
                        <table class="table table-hover no-wrap contact-list" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>ID #</th>
                                    <th>Order From</th>
                                    <th>Cust. Email</th>
                                    <th>From-to</th>
                                    <th>Status</th>

                                    <th>Date</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr #some_id
                                    *ngFor="let item of listOfJobs| paginate: { itemsPerPage: 10, currentPage: page }">
                                    <td>{{item?._id}}</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user"
                                                class="img-circle" /> {{item?.riderdetails?.name}}</a>
                                    </td>
                                    <td>{{item?.riderdetails?.email}}</td>
                                    <td>{{item.pickupLocation.address}} - {{item.dropLocation.address}}</td>
                                    <!-- <td><span class="label label-warning">New</span> </td> -->
                                    <td [ngSwitch]="item?.tripstatus">
                                        <span *ngSwitchCase="'Accepted'"
                                            class="label label-danger">{{item?.tripstatus}}</span>
                                        <span *ngSwitchCase="'Canceled'"
                                            class="label label-success">{{item?.tripstatus}}</span>
                                        <span *ngSwitchCase="'Completed'"
                                            class="label label-warning">{{item?.tripstatus}}</span>
                                        <span *ngSwitchCase="'Upcoming'"
                                            class="label label-info">{{item?.tripstatus}}</span>
                                        <span *ngSwitchCase="'Ongoing'"
                                            class="label label-primary">{{item?.tripstatus}}</span>
                                        <span *ngSwitchDefault
                                            class="label label-inverse">{{item?.tripstatus||item?.requestAction}}</span>
                                    </td>
                                    <td>{{item?.tripStartTime| date:'dd-MM-yyyy'}}</td>
                                    <!-- <td>
                                        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline"
                                            (click)="openModal(template)">
                                            <i data-toggle="tooltip" title="Assign Cab" class="fa fa-cab"></i>
                                        </button>
                                        <button type="button"
                                            class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn"
                                            data-toggle="tooltip" data-original-title="Delete"><i class="ti-close"
                                                aria-hidden="true"></i></button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </tab>
                <tab heading="Allocated Jobs">
                    <div class="table-responsive">
                        <table class="table table-hover no-wrap contact-list" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>ID #</th>
                                    <th>Order From</th>
                                    <th>Cust. Email</th>
                                    <th>From-to</th>
                                    <th>Status</th>

                                    <th>Date</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr #some_id2 *ngFor="let item of allocatedJobs">
                                    <td>{{item?._id}}</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user"
                                                class="img-circle" /> {{item?.riderdetails?.name}}</a>
                                    </td>
                                    <td>{{item?.riderdetails?.email}}</td>
                                    <td>{{item.pickupLocation.address}} - {{item.dropLocation.address}}</td>
                                    <!-- <td><span class="label label-warning">New</span> </td> -->
                                    <td [ngSwitch]="item?.tripstatus">
                                        <span *ngSwitchCase="'Accepted'"
                                            class="label label-danger">{{item?.tripstatus}}</span>
                                        <span *ngSwitchCase="'Canceled'"
                                            class="label label-danger">{{item?.tripstatus}}</span>
                                        <span *ngSwitchCase="'Completed'"
                                            class="label label-warning">{{item?.tripstatus}}</span>
                                        <span *ngSwitchCase="'Ongoing'"
                                            class="label label-primary">{{item?.tripstatus}}</span>
                                        <span *ngSwitchCase="'Upcoming'"
                                            class="label label-info">{{item?.tripstatus}}</span>
                                        <span *ngSwitchDefault class="label label-inverse">{{item?.tripstatus}}</span>
                                    </td>
                                    <td>{{item?.tripStartTime| date:'dd-MM-yyyy'}}</td>
                                    <!-- <td>
                                        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline"
                                            (click)="openModal(template)">
                                            <i data-toggle="tooltip" title="Assign Cab" class="fa fa-cab"></i>
                                        </button>
                                        <button type="button"
                                            class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn"
                                            data-toggle="tooltip" data-original-title="Delete"><i class="ti-close"
                                                aria-hidden="true"></i></button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab heading="Declined Jobs">
                    <div class="table-responsive">
                        <table class="table table-hover no-wrap contact-list" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>ID #</th>
                                    <th>Order From</th>
                                    <th>Cust. Email</th>
                                    <th>From-to</th>
                                    <th>Status</th>

                                    <th>Date</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of declinedofJobs">
                                    <td>{{item?._id}}</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user"
                                                class="img-circle" /> {{item?.riderdetails?.name}}</a>
                                    </td>
                                    <td>{{item?.riderdetails?.email}}</td>
                                    <td>{{item.pickupLocation.address}} - {{item.dropLocation.address}}</td>
                                    <!-- <td><span class="label label-warning">New</span> </td> -->
                                    <td [ngSwitch]="item?.tripstatus">
                                        <span *ngSwitchCase="'Accepted'"
                                            class="label label-danger">{{item?.tripstatus}}</span>
                                        <span *ngSwitchCase="'Canceled'"
                                            class="label label-danger">{{item?.tripstatus}}</span>
                                        <span *ngSwitchCase="'Completed'"
                                            class="label label-warning">{{item?.tripstatus}}</span>
                                        <span *ngSwitchCase="'Upcoming'"
                                            class="label label-info">{{item?.tripstatus}}</span>
                                        <span *ngSwitchCase="'Ongoing'"
                                            class="label label-primary">{{item?.tripstatus}}</span>
                                        <span *ngSwitchDefault class="label label-inverse">{{item?.tripstatus}}</span>
                                    </td>
                                    <td>{{item?.tripStartTime| date:'dd-MM-yyyy'}}</td>
                                    <!-- <td>
                                        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline"
                                            (click)="openModal(template)">
                                            <i data-toggle="tooltip" title="Assign Cab" class="fa fa-cab"></i>
                                        </button>
                                        <button type="button"
                                            class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn"
                                            data-toggle="tooltip" data-original-title="Delete"><i class="ti-close"
                                                aria-hidden="true"></i></button>
                                    </td> -->
                                </tr>
                            </tbody>
                            <tfoot>
                                <!-- <div class="col-12 text-right">
                                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                                </div> -->
                            </tfoot>
                        </table>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Assign Jobs</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-material">
            <div class="form-group">
                <label><small>Starting Address</small></label>
                <div class="form-control d-block"><strong>Chandigarh</strong></div>

            </div>
            <div class="form-group">
                <label><small>Destination Address</small></label>
                <div class="form-control d-block"><strong>Ludhiana</strong></div>
            </div>
            <div class="form-group">
                <label>Nearest Drivers</label>
                <input type="text" class="form-control" />
            </div>

        </div>
    </div>
    <div class="modal-footer text-right">
        <button class="btn btn-primary">Assign Job</button>
    </div>
</ng-template>


 